# Default ignored files
/shelf/
/workspace.xml

# misc
*.idea
.DS_Store
.iml
target

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
